@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  max-width: 800px;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  &.btn-blue {
    @apply bg-blue-500 text-white;
  }
  &.btn-red {
    @apply bg-red-500 text-white;
  }
  &.btn-green {
    @apply bg-green-500 text-white;
  }
}

.input {
  @apply border p-2 mb-2 w-full;
}
